* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    overflow-x: hidden;
    scroll-behavior: smooth;
    
}
.color {
    background-color: rgba(255, 255, 255, 0.43);
}
.Logoname {
    color: rgb(45, 123, 212);
    font-weight: bold;
    text-decoration: none;
    transition: 0.8s ease;
    margin-left: 100px;
}
.Logoname:hover {
    font-size: 1.15em;
    text-shadow: 5px rgba(54, 56, 58, 0.304);
    letter-spacing: 1.25px;
    background: -webkit-linear-gradient(#11e2de, #e20792);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header {
    background-color: rgb(255, 255, 255);
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    z-index: 999;
    justify-content: space-between;
    width: 100%;
    margin : auto ;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 35px;
    top: 0px;
   border-bottom: solid;
   border-color: rgb(45, 123, 212);
   border-width: 2px;
}
#Top {
   font-weight: bold;
   font-size: 10px;
   color: black;
   background-color: rgb(45, 123, 212);
   border-radius: 15px;
   height: 30px;
   width: 30px;
   position: fixed;
   right: 20px;
   bottom: 20px;
   overflow: hidden;
   border: 2px solid white;
   cursor: pointer;
  display: none; 
    
} 
#Top:hover {
    font-weight: bold;
    font-size: 10px;
    color: black;
    background: -webkit-linear-gradient(#11e2de, #e20792);
    border-radius: 15px;
    height: 30px;
    width: 30px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    overflow: hidden;
    border: 2px solid none;
    cursor: pointer;

}
#arrow {
   padding-top: 2.7px;

}
#arrow:hover {
    color: black;
}
.btn1 {
    width: 38px;
    height: 38px;
    text-align: center;
    color: rgb(4, 4, 55);
    text-decoration: none;
    border: 0.5px;
    border-radius: 5px;
    background-color: white;
    padding-top: 6px;
    overflow-y: hidden;
    cursor: pointer;
}
nav a {
    margin-left: 60px;
    margin-right: 50px;
    font-size: 0.5em;
    color: rgb(45, 123, 212);
    transition: 1s ease;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    background: -webkit-linear-gradient(#11e2de, #e20792);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 0.6em;
  letter-spacing: 1px;
}
section {
    /*padding: 100px 200px;*/
    
}
.main {
    background-image: url(./314615632_9024410560903205_699464854731314655_n.jpg);
    background-attachment: fixed;
    width: 100%;
    padding-left: 30px;
    min-height: 100vh;
    display: flex;
    background-size: cover;
    margin-top: 5px;
    align-items: center;
    
    
}
.Name {
    font-size: 1.2em;
    color: rgb(45, 123, 212);
    font-weight: bold;
    text-decoration: none;
    transition: 0.8s ease; 
    
    
}
.Name:hover {
    font-size: 1.2em;
    text-shadow: 5px rgba(54, 56, 58, 0.304);
    letter-spacing: 1.2px;
    background: -webkit-linear-gradient(#11e2de, #e20792);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.job {
    display: inline-block;
    margin-top: 10px;
    transition: 0.8s ease;
    color : rgb(45, 123, 212);
}
.job:hover {
    text-shadow: 5px rgba(54, 56, 58, 0.304);
    letter-spacing: 0.7px;
    background: -webkit-linear-gradient(#11e2de, #e20792);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn {
    margin-left: 25px;
    text-decoration: none;
    font-size: 0.8em;
    font-weight: 200;
    background-color: rgb(45, 123, 212);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    display: inline-block;
    padding: 8px 12px;
    margin-bottom: 5px;
    letter-spacing: 1px;
    transition: 1s ease;
    position: relative;
}
.btn:hover {
  background-color: rgb(8, 78, 158) ;
  transform: scale(1.09);
}
.Links a {
    color:rgb(45, 123, 212) ;
    font-size: 15px;
    padding-right: 5px;
    margin-left: 20px;
    transition: 0.8s ease;
    
}
.Links a:hover {
    font-size:18px ;
}
.Project-main  {
    background-color:rgb(255, 255, 255);
    color: rgb(45, 123, 212) ;
    font-size: 1em;
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    
}
.title {
    display: flex;
    justify-content: center;
    transition: 1s ease;
    color:rgb(45, 123, 212) ;
}
.title:hover {
    text-shadow: 5px rgba(54, 56, 58, 0.304);
    letter-spacing: 2px;
    background: -webkit-linear-gradient(#11e2de, #e20792);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.one {
    width: 300px;
    height: 250px;
    border: 2px rgb(45, 123, 212);
    box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.589);
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 30px;
    
    
}
.job-logo1 {
    display: flex;
    justify-content: center;
    transition: 1s ease;
    padding-top: 25px;
    font-size: 30px;
}
.job-logo1:hover {
    font-size: 30px  ;
}
.job-title1 {
    color: rgb(45, 123, 212);
    font-size: 10px;
    transition: 1s ease;
    text-align: center;
    margin-top: 50px;
}
.job-title1:hover {
    letter-spacing: 0.8px;
    background: -webkit-linear-gradient(#11e2de, #e20792);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.p1 {
    color: rgb(0, 0, 0);
    font-size: 9px;
    display: inline-block;
    align-items: flex-end;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 500;
}
.two {
    width: 300px;
    height: 250px;
    border: 2px rgb(45, 123, 212);
    box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.589);
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 30px;
    
}
.job-logo2 {
    display: flex;
    justify-content: center;
    transition: 1s ease;
    padding-top: 25px;
    font-size: 30px;
}

.job-title2 {
    color: rgb(45, 123, 212);
    font-size: 10px;
    transition: 1s ease;
    text-align: center;
    margin-top: 50px;
}
.job-title2:hover {
    letter-spacing: 0.8px;
    background: -webkit-linear-gradient(#11e2de, #e20792);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.p2 {
    color: rgb(0, 0, 0);
    font-size: 9px;
    display: inline-block;
    align-items: flex-end;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 500;
}

.title-1 {
    color: rgb(45, 123, 212);
    position: relative;
    text-align: center;
    transition: 1s ease;
    display: flex;
    justify-content: center;

}
.title-1:hover {
    text-shadow: 5px rgba(54, 56, 58, 0.304);
    letter-spacing: 2px;
    background: -webkit-linear-gradient(#11e2de, #e20792);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.proj {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}
.pr1 {
    width: 300px;
    height: 250px;
    border: 2px rgb(45, 123, 212);
    box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.589);
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 30px;
}
.prjct {
   /color:rgb(45, 123, 212) ;
    font-size: 10px;
    text-decoration: none;
    transition: 1s ease;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-weight: bold;
}
.prjct:hover {
    text-shadow: 5px rgba(54, 56, 58, 0.304);
    letter-spacing: 2px;
    background: -webkit-linear-gradient(#11e2de, #e20792);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pr12 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(45, 123, 212);
    font-size: 15px;
    font-weight: bold;
    padding-top: 40px;
    transition: 1s ease;
}
.pr12:hover {
    text-shadow: 5px rgba(54, 56, 58, 0.304);
    letter-spacing: 1px;
    background: -webkit-linear-gradient(#11e2de, #e20792);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.list a {
    color:rgb(45, 123, 212) ;
    text-decoration: none;
    font-size: 13px;
    display: block;
    padding-bottom: 6px;
    transition: 1s ease;
    padding-top: 10px;
}
.list a:hover {
    text-shadow: 5px rgba(54, 56, 58, 0.304);
    letter-spacing: 0.5px;
    background: -webkit-linear-gradient(#11e2de, #e20792);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
hr {
    color:rgb(45, 123, 212) ;
    font-size: 80px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    size: 8;
}
.pr2 {
    width: 300px;
    height: 250px;
    border: 2px rgb(45, 123, 212);
    box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.589);
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 30px;
}
.pr21 {
    justify-content: center;
    text-align: center;
    color: rgb(45, 123, 212);
    font-size: 15px;
    font-weight: bold;
    padding-top: 40px;
    transition: 1s ease;
}
.pr21:hover {
    text-shadow: 5px rgba(54, 56, 58, 0.304);
    letter-spacing: 1px;
    background: -webkit-linear-gradient(#11e2de, #e20792);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.list1 a {
    color:rgb(45, 123, 212) ;
    text-decoration: none;
    font-size: 13px;
    display: block;
    padding-bottom: 6px;
    transition: 1s ease;
    padding-top: 10px;
}
.list1 a:hover {
    text-shadow: 5px rgba(54, 56, 58, 0.304);
    letter-spacing: 0.5px;
    background: -webkit-linear-gradient(#11e2de, #e20792);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact {
    background-color: black;
    color: white;
    display: flex;
    font-weight: bold;
}
.last {
    transition: 1s ease;
    color: white;
    text-align: center;
    justify-content: center;
}
.last:hover {
    letter-spacing: 1px;

}
#widgets {
width: 100%;
height: 300px;
display: flex;
overflow: hidden;
border: 2px solid #11e2de ;
border-radius: 5px;
}
.contact a {
    font-size: 11px;
    color: white;
    display: block;
    justify-content: left;
    text-decoration: none;
    margin-bottom: 5px;
    letter-spacing: 2px;
    font-weight: bold;
    transition: 1s ease;
}
.contact a:hover {
    letter-spacing: 0.8px;
    background: -webkit-linear-gradient(#11e2de, #e20792);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.black {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}
.footer {
    display: block;
    bottom: 1px;
    justify-content: baseline;
    background-color: black;
    font-size: 7px;
    margin-left: 10px;
    text-align: center;
}
.footerorg {
    background-color: black;
}
#cr {
font-size: 7px;
}


